extends layout

block content
  div(class='ui segment narrow')
    h3(class='ui segment stacked inverted blue block header') Traces of #{deviceId}
    form(class='ui form', id='device-form')
      input(type='hidden', name='userName', value='#{user.userName}')
      input(type='hidden', name='deviceId', value='#{deviceId}')
    div.ui.pagination.menu
      a.icon.item(disabled='disabled')
        i.left.arrow.icon
      a.active.item 1
      a.icon.item
        i.right.arrow.icon
    div(class='ui list', id='records-list', style='display: none;')
      div(class='item', id='sample-item', style='display: none;')
        i.icon.right.triangle
        div.content
          div.description
            div.location
              i.icon.marker
              span Longitude: ...;Latitude: ...
            div.time 
              i.icon.calendar
              span DateTime: ...
        hr
  
  script(type='text/javascript', src='/javascripts/records-fetching.js')
