extends layout

block content
  div(class='ui segment narrow')
    h3(class='ui segment stacked inverted blue block header') Traces of #{deviceId}
    form(class='ui form')
      input(type='hidden', name='userName', value='#{user.userName}')
    div(class='divided very relaxed list')
      div(class='item', style='display: none;')
        div(class='content')
          div(class='location') Longitude: ...;Latitude: ...
          div(class='timestamp') DateTime: ...
