extends layout

block content
  div(class='ui segment narrow')
    h3(class='ui segment stacked inverted blue block header') #{title}
    form(class='ui form', action='/login', method='post')
      div(class='field')
        label Username
        div(class='ui left icon input')
          input(type='text', name='username', placeholder='Username')
          i(class='user icon')
      div(class='field')
        label Password
        div(class='ui left icon input')
          input(type='password', name='password', placeholder='Password')
          i(class='lock icon')
      div(class='field')
        input(type='submit', class='ui green submit button', value='Log In')
    div(class='ui divider')
    div(class='login footer')
      div(class='text') Not a member? 
      a(class='ui red mini button signup', href='/signup') Sign Up
