extends layout

block content
  div.nav.navbar
    div.ui.page.grid
      div.column
        div.ui.menu.secondary.inverted
          a.active.item(href='/') 
            i(class='home icon')
            |  Home
          div.right.menu
            a.item(href='/login') Login
            a.item(href='/signup') Sign Up
  div.masthead.segment
    div.ui.page.grid.index
      div.column.index
        div.introduction
          h1.ui.inverted.header
            p.animated.zoom-in.animated-slow #{title}
            b.description.animated.fade-in.animated-slow3 Help to remember you loved for longer
