extends layout

block content
  div.nav.navbar
    div(class='ui page grid')
      div(class='column')
        div.ui.menu.secondary.inverted
          a.active.item(href='/') 
            i(class='home icon')
            |  Home
          div.right.menu
            a.item(href='/login') Login
            a.item(href='/signup') Sign Up
  div.masthead.segment
    div.ui.page.grid.index
      div.column.index
        div.introduction
          h1.ui.inverted.header
            p #{title}
            b.description Help to remember you loved for longer.
