extends layout

block content
  div(class='ui segment narrow')
    h3(class='ui segment stacked inverted blue block header') #{title}
    form(class='ui form', action='/users/', method='post')
      div(class='field')
        label Username
        div(class='ui left icon input')
          input(type='text', name='userName', placeholder='Username')
          i(class='user icon')
          div(class='ui corner label')
            i(class='asterisk icon')
      div(class='field')
        label Email
        div(class='ui left icon input')
          input(type='email', name='userEmail', placeholder='Email')
          i(class='mail icon')
          div(class='ui corner label')
            i(class='asterisk icon')
      div(class='field')
        label Password
        div(class='ui left icon input')
          input(type='password', name='password', placeholder='Password')
          i(class='lock icon')
          div(class='ui corner label')
            i(class='asterisk icon')
      div(class='field')
        label Confirm Password
        div(class='ui left icon input')
          input(type='password', placeholder='Confirm Password')
          i(class='lock icon')
          div(class='ui corner label')
            i(class='asterisk icon')
      div(class='field')
        label Device
        div(class='ui left icon input')
          input(type='text', name='deviceId', placeholder='Device ID')
          i(class='mobile icon')
          div(class='ui corner label')
            i(class='asterisk icon')
      div(class='field')
        input(type='submit', class='ui red submit button', value='Sign Up')
    div(class='ui divider')
    div(class='signup footer')
      div(class='text') Already a member? 
      a(class='ui blue mini button signup', href='/login') Log In
