extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/users/', method='post')
    div
      label Username:
      input(type='text', name='userName')
    div
      label Useremail:
      input(type='email', name='userEmail')
    div
      label Password:    
      input(type='password', name='password')
    div
      label DeviceId:
      input(type='text', name='deviceId')
    div
      input(type='submit', value='Log In')
