extends contentlayout

block main-frame
  div(class='ui segment narrow')
    div(class='ui segment stacked inverted blue block header')
      h3 Welcome, #{user.userName}
      form(action='/logout', method='post')
        button(type='submit', class='ui icon button')
          i(class='sign out icon')
    form(class='ui form', action='/users/', method='post')
      div(class='field')
        label Email
        div(class='ui left icon input')
          input(type='email', name='userEmail', value='#{user.userEmail}', placeholder='Email', disabled='disabled')
          i(class='mail icon')
          div(class='ui corner label', style='display: none;')
            i(class='asterisk icon')
      each val, idx in user.relativeDeviceIds
        div(class='field')
          label Device
          a(class='ui button', href='/device/#{val.deviceId}') #{val.deviceId}
      div(class='field')
        input(type='submit', class='ui red submit button', value='Save', style='display: none;')

